<div class="wrapper">
    <div class="container">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div nz-row [nzGutter]="[0,50]">
                    <div nz-col nzSpan="24">
                        <sili-title [title]="title"></sili-title>
                    </div>
                    <div nz-col nzSpan="24">
                       <ng-container *ngIf="!isLoading">
                            <nz-list nzGrid>
                                <div nz-row [nzGutter]="[30,30]">
                                    <div nz-col nzSpan="6" *ngFor="let product of products">
                                        <nz-list-item>
                                            <sili-product [product]="product"></sili-product>                         
                                        </nz-list-item>
                                    </div>                                                                               
                                </div>
                                <div nz-row nzJustify="center">
                                    <div nz-col>
                                        <div nz-list-load-more>
                                            <button nz-button class="load">Показать все</button>
                                        </div>
                                    </div>
                                </div>                    
                            </nz-list>    
                        </ng-container>                                
                        <ng-container *ngIf="isLoading">
                            <sili-product-skeleton [counter]="12"></sili-product-skeleton>
                        </ng-container>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
