<div class="category">
    <div nz-row [nzGutter]="[0,12]">
        <div nz-col nzSpan="24">
            <div class="category__img">
                <img nz-image nzDisablePreview [nzSrc]="category.img"  [nzFallback]="fallback" [alt]="category.title">
            </div>
        </div>
        <div nz-col nzSpan="24">
            <h1 nz-typography nzEllipsis [nzEllipsisRows]="2" class="category__title">{{category.title}}</h1>
        </div>
        <div nz-col nzSpan="24">
            <h2 class="category__info">{{category.amount}} шт</h2>
        </div>
        <div nz-col nzSpan="24">
            <button nz-button [nzType]="'primary'" nz-row nzAlign="middle" [nzGutter]="8" class="category__button">
                <span nz-col>Искать по категории</span>
                <span nz-col style="max-height: 14px;">
                    <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.6345 7.6364C20.986 7.28493 20.986 6.71508 20.6345 6.36361L14.9069 0.63604C14.5555 0.284569 13.9856 0.284569 13.6341 0.63604C13.2827 0.987512 13.2827 1.55736 13.6341 1.90883L18.7253 7L13.6341 12.0912C13.2827 12.4426 13.2827 13.0125 13.6341 13.364C13.9856 13.7154 14.5555 13.7154 14.9069 13.364L20.6345 7.6364ZM0.713623 7.9L19.9981 7.9L19.9981 6.1L0.713623 6.1L0.713623 7.9Z" fill="#485470"/>
                    </svg>  
                </span>                 
            </button>
        </div>
    </div>
</div>
