@import '../../../styles/colors.less';
@import '../../../styles/text.less';

.brands{
    &__title{
        .text(600,36px,49px,@textBlack);
    }

    &__card{
        border: 1px solid rgba(117, 117, 117, 0.5);
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;

        &-img{
            width: 120px;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        &-content{
            padding: 24px 22px 16px 0;
        }
    }
}
